Collatz Sequence

If n is even, then n = n / 2. If n is odd, then n = 3*n + 1



for 77 as input

77,232,116,58,29,88,44,22,11,34,17,52,26,13,40,20,10,5,16,8,4,2,1

for 14 as input

14,7,22,11,34,17,52,26,13,40,20,10,5,16,8,4,2,1

In [ ]:
def next_collatz(n: int) -> int:
    return n // 2 if n % 2 == 0 else 3 * n + 1

In [ ]:
def collatz_seq(start: int) -> list:
    listDetails = []
    #print(start)
    if start == 4:
        return [4, 2, 1]
    else:
        listDetails = [start] + collatz_seq(next_collatz(start))
        print(listDetails)
        return listDetails

In [ ]:
print(collatz_seq(77))

[8, 4, 2, 1]
[16, 8, 4, 2, 1]
[5, 16, 8, 4, 2, 1]
[10, 5, 16, 8, 4, 2, 1]
[20, 10, 5, 16, 8, 4, 2, 1]
[40, 20, 10, 5, 16, 8, 4, 2, 1]
[13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[232, 116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[77, 232, 116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[77, 232, 116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

In [ ]:
def test(x):
    if x > 9 :
        test(x - 10)
    else:
        print('real value',x)
        return x
    return x

x = int(input())
y = test(x)
print('this should be real value',y)

22
real value 2
this should be real value 22

In [ ]:
def test45(x):
    if x > 9 :
        test35(x - 10)
    else:
        print('real value',x)
        return x

def test35(x):
    if x > 9 :
        test25(x - 10)
    else:
        print('real value',x)
        return x

def test25(x):
    if x > 9 :
        test15(x - 10)
    else:
        print('real value',x)
        return x

def test15(x):
    if x > 9 :
        test5(x - 10)
    else:
        print('real value',x)
        return x

def test5(x):
    if x > 9 :
        print("No more tests :(")
    else:
        print('real value',x)
        return x

test45(45)

real value 5

In [ ]:
def next_collatz(n: int) -> int:
    return n // 2 if n % 2 == 0 else 3 * n + 1


def collatz_seq(start: int) -> list:
    listDetails = []
    if start == 4:
        return [4, 2, 1]
    else:
        listDetails = [start] + collatz_seq(next_collatz(start))
        print(listDetails)
        return listDetails

print(collatz_seq(77))

In [ ]:
def collatzA(n : int ) -> list:
    seq = []
    while n != 4:
        seq.append(n)
        n = next_collatz(n)
    return seq + [4,2,1]

In [ ]:
def CollatzB(n : int) -> list:
    seq = []
    while seq[-3:] != [4, 2, 1]:
        seq.append(n)
        n = next_collatz(n)
    return seq

In [ ]:
print(CollatzB(77))

[77, 232, 116, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]